*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #B5B2C2;
    text-align: center;
}
h1{
    color:#5A7D7C ;
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5 vmin;

}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0.1);
    font-size: 10 vmin;
    color:#232C33 ;
    background-color:#DADFF7 ;

}
#reset-btn{
    padding: 1rem;
    font-size:1.25rem ;
    background-color:#5A7D7C ;
    color:#DADFF7 ;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size:1.25rem ;
    background-color:#5A7D7C ;
    color:#DADFF7 ;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: white;
    font-size: 8vmin;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4 rem;
}
.hide{
    display: none;
}